<launch>
  <arg name="board2_decode_service" default="/yaofang_vision/board2_decode" />

  <node
      pkg="text_recognition"
      type="ocr_service.py"
      name="ocr_service"
      output="screen">
    <param name="board2_decode_service" value="$(arg board2_decode_service)" />
  </node>
</launch>
