<launch>
  <arg name="use_mock_data" default="false" />
  <arg name="mock_navigation" default="false" />
  <arg name="max_rounds" default="1" />
  <arg name="board1_detection_service" default="/yaofang_vision/board1_decode" />
  <arg name="board2_detection_service" default="/yaofang_vision/board2_decode" />
  <arg name="start_qr_node" default="true" />
  <arg name="start_ocr_node" default="true" />

  <include file="$(find qr_code_recognition)/qr.launch" if="$(arg start_qr_node)">
    <arg name="board1_decode_service" value="$(arg board1_detection_service)" />
  </include>

  <include file="$(find text_recognition)/launch/ocr_service.launch" if="$(arg start_ocr_node)">
    <arg name="board2_decode_service" value="$(arg board2_detection_service)" />
  </include>

  <node name="yaofang_control_service_node"
        pkg="move_nav"
        type="yaofang_control_service_node"
        output="screen">
    <param name="use_mock_data" value="$(arg use_mock_data)" />
    <param name="mock_navigation" value="$(arg mock_navigation)" />
    <param name="max_rounds" value="$(arg max_rounds)" />
    <param name="board1_detection_service" value="$(arg board1_detection_service)" />
    <param name="board2_detection_service" value="$(arg board2_detection_service)" />
  </node>
</launch>
