<launch>
    <node name="yolo_onnx_service_node" pkg="yolo_onnx_ros" type="yolo_onnx_service_node.py" output="screen">
        <!-- 模型路径参数 -->
        <param name="model_path" value="$(find yolo_onnx_ros)/models/best.onnx" />
        
        <!-- 输入图像话题参数 -->
        <param name="input_topic" value="/camera/image_raw" />
        
        <!-- 检测阈值参数 -->
        <param name="conf_threshold" value="0.9" />
        <param name="iou_threshold" value="0.4" />
    </node>

    <!-- <node name="camera_client" pkg="yolo_onnx_ros" type="camera_client.py" output="screen">
        <param name="camera_index" value="0" />
        <param name="frame_rate" value="5" />
        <param name="detection_service" value="detect_objects" />
    </node> -->
</launch>